<template>
  <div id="colourConverter" :style="{}">
    <v-card class="hsl-container" :style="{ ...CardStyle, order: 1 }">
      <div class="hsl-wheel">
        <h4 :style="HeadingStyle">HSL Wheel</h4>
        <ColourWheel
          :Hue="HSL.color[0]"
          :Saturation="HSL.color[1]"
          :Light="HSL.color[2]"
          SVGHeight="50vmin"
          SVGWidth="50vmin"
          @click="ClickedWheel"
        ></ColourWheel>
      </div>
      <div class="hsl-sliders">
        <div>
          <label>Hue</label>
          <v-slider
            vertical
            :min="0"
            :max="360"
            :value="HSL.color[0]"
            :color="SliderColour"
            :track-color="TrackColour"
            @input="SetHue"
            @start="CurrentControl = 'hue'"
            @mousedown="CurrentControl = 'hue'"
          ></v-slider>
          <div>{{ Math.round(HSL.color[0]) }}</div>
        </div>
        <div>
          <label>Saturation</label>
          <v-slider
            vertical
            :min="0"
            :max="100"
            :color="SliderColour"
            :track-color="TrackColour"
            :value="HSL.color[1]"
            @input="SetSaturation"
            @start="CurrentControl = 'saturation'"
            @mousedown="CurrentControl = 'saturation'"
          ></v-slider>
          <div>{{ Math.round(HSL.color[1]) }}</div>
        </div>
        <div>
          <label>Light</label>
          <v-slider
            vertical
            :min="0"
            :max="100"
            :color="SliderColour"
            :track-color="TrackColour"
            :value="HSL.color[2]"
            :style="SliderStyle"
            @input="SetLight"
            @start="CurrentControl = 'light'"
            @mousedown="CurrentControl = 'light'"
          ></v-slider>
          <div>{{ Math.round(HSL.color[2]) }}</div>
        </div>
      </div>
    </v-card>
    <v-card class="hexContainer" :style="{ order: 3, ...CardStyle }">
      <div>
        <h3>Hex:</h3>
        <v-text-field :style="{ flexGrow: 0 }" v-model="Hex"></v-text-field>
      </div>
      <div class="currentColour" :style="{ backgroundColor: CurrentRGB }"></div>
    </v-card>
    <v-card class="rgb-container" :style="{ ...CardStyle, order: 2 }">
      <div class="rgb-sliders">
        <div>
          <v-slider
            label="Red"
            :min="0"
            :max="255"
            :value="RGB.color[0]"
            :color="SliderColour"
            :track-color="TrackColour"
            @input="SetRed"
            @start="CurrentControl = 'red'"
            @mousedown="CurrentControl = 'red'"
          ></v-slider>
          <span>{{ Math.round(RGB.color[0]) }}</span>
        </div>
        <div>
          <v-slider
            label="Green"
            :color="SliderColour"
            :track-color="TrackColour"
            :min="0"
            :max="255"
            :value="RGB.color[1]"
            @input="SetGreen"
            @start="CurrentControl = 'green'"
            @mousedown="CurrentControl = 'green'"
          ></v-slider>
          <span>{{ Math.round(RGB.color[1]) }}</span>
        </div>
        <div>
          <v-slider
            label="Blue"
            :color="SliderColour"
            :track-color="TrackColour"
            :min="0"
            :max="255"
            :value="RGB.color[2]"
            @input="SetBlue"
            @start="CurrentControl = 'blue'"
            @mousedown="CurrentControl = 'blue'"
          ></v-slider>
          <span>{{ Math.round(RGB.color[2]) }}</span>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Color from "color";
import ColourWheel from "./ColourWheel.vue";

export default Vue.extend({
  name: "ColourConverter",
  components: {
    ColourWheel,
  },
  props: { BaseHue: Number, ComplementaryHue: Number },
  data() {
    return {
      CurrentColour: Color.rgb(100, 50, 50),
      CurrentControl: undefined,
    };
  },
  computed: {
    CardStyle() {
      return {
        backgroundColor: `hsl(${this.BaseHue}, 90%, 99%)`,
      };
    },
    SliderColour() {
      return `hsl(${this.ComplementaryHue}, 70%, 70%)`;
    },
    TrackColour() {
      return `hsl(${this.ComplementaryHue}, 70%, 85%)`;
    },
    HeadingStyle() {
      return {
        textDecoration: "underline",
        textDecorationColor: `hsl(${this.ComplementaryHue},70%,70%)`,
      };
    },
    CurrentRGB(): string {
      return `rgb(${this.R}, ${this.G}, ${this.B})`;
    },
    RGB(): Color {
      return this.CurrentColour.rgb();
    },
    HSL(): Color {
      return this.CurrentColour.hsl();
    },
    H(): number {
      return this.CurrentColour.hue();
    },
    S(): number {
      return this.CurrentColour.saturationl();
    },
    L(): number {
      return this.CurrentColour.lightness();
    },
    R(): number {
      return this.CurrentColour.red();
    },
    G(): number {
      return this.CurrentColour.green();
    },
    B(): number {
      return this.CurrentColour.blue();
    },
    Hex: {
      get: function(): string {
        return this.CurrentColour.hex();
      },
      set: function(newValue: string) {
        const isCorrectLength = newValue.length === 7;
        const startsWithHash = newValue[0] === "#";
        const isHex = newValue
          .slice(1, 7)
          .split("")
          .every((letter) =>
            [
              "0",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "a",
              "b",
              "c",
              "d",
              "e",
              "f",
            ].includes(letter.toLowerCase())
          );
        if (!isCorrectLength || !startsWithHash || !isHex) return;
        this.CurrentColour = Color(newValue.toLowerCase()).rgb();
      },
    },
    IsPortrait: function() {
      return window.innerHeight > window.innerWidth;
    },
  },
  watch: {
    BaseHue: {
      handler(val) {
        const h = val;
        const s = 80;
        const l = 70;

        this.CurrentColour = Color.hsl(h, s, l).rgb();
      },
    },
  },
  created() {
    this.CurrentColour = Color.rgb(200, 50, 50);
  },
  updated() {},
  mounted() {},
  methods: {
    ClickedWheel(val: [number, number, number]) {
      const [h, s, l] = val;
      let col = Color.hsl(h, s, l).rgb();
      this.CurrentColour = col;
    },
    SetHue(val: number) {
      if (this.CurrentControl !== "hue") return;
      let h = val;
      this.CurrentColour = Color.hsl(h, this.S, this.L).rgb();
    },
    SetSaturation(val: number) {
      if (this.CurrentControl !== "saturation") return;
      let s = val;
      this.CurrentColour = Color.hsl(this.H, s, this.L).rgb();
    },
    SetLight(val: number) {
      if (this.CurrentControl !== "light") return;
      let l = val;
      this.CurrentColour = Color.hsl(this.H, this.S, l).rgb();
    },
    SetRed(val: number) {
      if (this.CurrentControl !== "red") return;
      let r = val;
      this.CurrentColour = Color.rgb(r, this.G, this.B);
    },
    SetGreen(val: number) {
      if (this.CurrentControl !== "green") return;
      let g = val;
      this.CurrentColour = Color.rgb(this.R, g, this.B);
    },
    SetBlue(val: number) {
      if (this.CurrentControl !== "blue") return;
      let b = val;
      this.CurrentColour = Color.rgb(this.R, this.G, b);
    },
  },
});
</script>
<style scoped>
#colourConverter {
  color: #000c;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-content: stretch;
}

#colourConverter > * {
  margin: auto;
  padding: 2vmin;
  min-width: 70vmin;
}

h2,
h3,
h4 {
  font-weight: 400;
}

.hsl-container {
  display: flex;
  margin: 1vh 1vw;
}

.rgb-container {
  margin: 1vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hsl-container > * {
  margin: 1vh 1vw;
}

.hsl-container .hsl-sliders {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.hsl-sliders > * {
  margin: 0 1vw;
}

.rgb-sliders > * {
  display: flex;
}

.hexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.currentColour {
  width: 80%;
  height: 20px;
  margin: auto;
  flex-grow: 1;
}
</style>
