<template>
  <v-app id="app" :style="AppStyle">
    <AppHeader
      :BaseHue="BaseHue"
      :ComplementaryHue="ComplementaryHue"
      @changeColour="changeColour"
    />
    <ColourConverter :BaseHue="BaseHue" :ComplementaryHue="ComplementaryHue" />
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import AppHeader from "./components/AppHeader.vue";
import ColourConverter from "./components/ColourConverter.vue";

export default Vue.extend({
  name: "App",
  components: {
    AppHeader,
    ColourConverter,
  },
  data: () => ({
    BaseHue: 0,
  }),
  computed: {
    AppStyle: function() {
      return { backgroundColor: `hsl(${this.BaseHue}, 80%, 98%)` };
    },
    ComplementaryHue: function() {
      return this.BaseHue + (180 % 360);
    },
  },
  created() {
    this.changeColour();
  },
  methods: {
    changeColour() {
      this.BaseHue = Math.floor(Math.random() * 360);
    },
  },
});
</script>

<style lang="scss">
#app {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
</style>
